*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}


body{

background:linear-gradient(135deg,#020617,#0f172a,#1e1b4b);

color:white;

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

padding:20px;

}



.container{

width:100%;
max-width:600px;

background:#0b1120;

padding:30px;

border-radius:18px;

text-align:center;

border:1px solid #3b82f6;

box-shadow:0 0 25px rgba(59,130,246,.35);

}



h1{

color:#38bdf8;

margin-bottom:25px;

}



input{

width:100%;

padding:14px;

border:none;

outline:none;

border-radius:10px;

font-size:16px;

margin-bottom:15px;

background:#020617;

color:white;

border:1px solid #334155;

}



input::placeholder{

color:#94a3b8;

}



button{

padding:13px 25px;

border:none;

border-radius:10px;

cursor:pointer;

background:#2563eb;

color:white;

font-weight:bold;

transition:.3s;

}



button:hover{

background:#7c3aed;

transform:scale(1.05);

}



.card{

background:#111827;

padding:20px;

border-radius:12px;

margin-top:20px;

border-left:4px solid #38bdf8;

}



audio,video{

width:100%;

margin-top:15px;

}



a{

color:#38bdf8;

font-weight:bold;

text-decoration:none;

}



a:hover{

color:#a78bfa;

}
