*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}


body{

background:linear-gradient(135deg,#020617,#000000,#450a0a);

color:white;

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

padding:20px;

}



.container{

width:100%;
max-width:600px;

background:#020617;

padding:30px;

border-radius:18px;

text-align:center;

border:1px solid #7f1d1d;

box-shadow:0 0 25px rgba(220,38,38,.4);

}



h1{

color:#ef4444;

margin-bottom:25px;

}



input{

width:100%;

padding:14px;

border:none;

outline:none;

border-radius:10px;

font-size:16px;

margin-bottom:15px;

background:#111827;

color:white;

}



input::placeholder{

color:#94a3b8;

}



button{

padding:13px 25px;

border:none;

border-radius:10px;

cursor:pointer;

background:#1e40af;

color:white;

font-weight:bold;

transition:.3s;

}



button:hover{

background:#dc2626;

transform:scale(1.05);

}



.card{

background:#111827;

padding:20px;

border-radius:12px;

margin-top:20px;

border-left:4px solid #ef4444;

}



audio,video{

width:100%;

margin-top:15px;

}



a{

color:#60a5fa;

font-weight:bold;

text-decoration:none;

}



a:hover{

color:#ef4444;

}
